---
import { useTranslations, type Lang } from "@/i18n";
import { Code } from "astro:components";
const t = useTranslations(Astro.currentLocale as Lang);
import { Image } from "astro:assets";

const { image, alt = "", code = "" ,height="max-h-[250px]"} = Astro.props;
---

<div class="my-3 flex flex-col md:flex-row">
    <div class="relative flex-1">
        <button
            class="absolute top-2 right-2 bg-gray-700 text-white px-2 py-1 rounded text-sm hover:bg-gray-600"
            data-code={code}
            onclick="
                const btn = this;
                navigator.clipboard.writeText(this.getAttribute('data-code'));
                const originalText = btn.textContent;
                btn.textContent = btn.getAttribute('data-success');
                setTimeout(() => {
                    btn.textContent = originalText;
                }, 2000);
            "
            data-success={t({ zh: "已复制!", en: "Copied!" })}
        >
            {t({ zh: "复制", en: "Copy" })}
        </button>
        <div class="rounded-2xl h-full overflow-hidden">
            <Code
                class={`${height} p-3 h-full
           overflow-auto
           [&::-webkit-scrollbar]:w-2
           [&::-webkit-scrollbar]:h-2  
           [&::-webkit-scrollbar-track]:bg-transparent
           [&::-webkit-scrollbar-thumb]:bg-gray-600
           [&::-webkit-scrollbar-thumb]:rounded-full`}
                code={code}
                lang="python"
            />
        </div>
    </div>

    {
        image && (
            <div class="mt-4 md:mt-0">
                <Image
                    src={image}
                    alt={alt}
                    width={300}
                    height={300}
                    class="mx-auto md:ml-4 rounded-2xl shadow-2xl dark:brightness-[0.7] border-2 border-neutral-200"
                />
            </div>
        )
    }
</div>
